.makePostForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 10px solid lightgrey;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
}

.postFormBody {
    resize: none;
    font-size: 24px;
    border-radius: 25px;
    padding: 15px;
    border: 3px solid #b93a60;
    font-family: 'Fira Sans', sans-serif;
    background-color: #1d2b3a;
    transition: 0.3s ease;
    color: white;
    margin-bottom: 10px;
}

.postFormBody:focus {
    outline: none;
    border: 3px solid #ff175d;
}

.fileName {
    margin-left: 5px;
    margin-bottom: 10px;
    font-family: 'Fira Sans';
}

.makePostForm span {
    color: #007bff;
}

.formBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}

.formBottom div {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-around;
}

.imageUploadContainer {
    width: 40%;
}

.imageUploadContainer input {
    display: none;
}

.imageUpload {
    font-size: 32px;
}

.imageUpload:hover {
    cursor: pointer;
    color: #007bff;
}

.wordCount {
    font-size: 32px;
    margin-left: 5px;
    font-family: 'Lato', sans-serif;
}

.postFormSubmit {
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #fc5185;
    font-family: 'Lato';
}

@media only screen and (max-width: 450px) {
    .makePostForm {
        padding: 5px;
    }
}