.searchPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.searchPageContainer form {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 32px;
    padding: 25px;
}

.searchPageContainer input[type="search"] {
    width: 80%;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: #213041;
    border: 3px solid #b93a60;
    transition: 0.3s ease;
    color: white;
}

.searchPageContainer input[type="search"]:focus {
    outline: none;
    border: 3px solid #ff175d;
}

.searchPageContainer .error {
    font-family: 'Lato';
    font-size: 32px;
    padding: 35px;
}

.searchPageResults {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchPageContainer h2 {
    font-family: 'Lato';
    font-size: 20px;
    width: 100%;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 20px 0;
    padding-left: 15px;
    box-sizing: border-box;
}