.discover {
    width: 30%;
    top: 0;
    height: 100vh;
    border-left: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    z-index: 3;
}

@media only screen and (max-width: 950px) {
    .discover {
        display: none;
    }
}