.displayPost {
    display: flex;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
    height: fit-content;
    background-color: #213041;
}

.displayPost:hover {
    background-color: #1d2b3a;
    cursor: pointer;
}

.displayPost header {
    width: 100%;
    font-family: 'Lato';
    font-size: 24px;
    padding: 25px;
    border-bottom: 1px solid white;
    box-sizing: border-box;
}

.displayPostContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 25px;
    padding: 25px;
    box-sizing: border-box;
}

.displayPostLeft {
    min-width: 13%;
    max-width: 13%;
    margin-right: 25px;
}

.displayPostLeft img {
    width: 100%;
    border-radius: 100px;
}

.displayPostRight {
    width: 87%;
    display: flex;
    flex-direction: column;
}

.displayPostInfo {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Lato';
    font-size: 24px;
}

.displayPostInfoLeft {
    display: flex;
    flex-direction: column;
}

.displayPostName:hover {
    text-decoration: underline;
}

.displayPostUsername {
    color: rgb(185, 185, 185);
}

.deleteDisplay {
    font-size: 18px;
    width: fit-content;
    color: Red;
    display: flex;
    text-align: right;
    transition: 0.3s ease;
    border-radius: 15px;
    padding: 5px 10px;
    font-family: 'Fira Sans', sans-serif;
}

.deleteDisplay:hover {
    background-color: rgba(255, 0, 0, 0.308);
}

.displayPostPost {
    display: flex;
    flex-direction: column;
}

.displayPostBody {
    word-wrap: break-word;
    display: inline-block;
    font-size: 22px;
    font-family: 'Fira Sans', sans-serif;
}