.displayPost {
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
    min-height: 100vh;
    align-items: center;
}


.displayPost header {
    width: 100%;
    font-family: 'Lato';
    font-size: 24px;
    padding: 25px;
    border-bottom: 1px solid white;
    box-sizing: border-box;
}

.displayPostContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 25px;
    padding: 25px;
    box-sizing: border-box;
}

.displayPostContainer:hover {
    background-color: #213041;
    cursor: pointer;
}

.displayPostLeft {
    min-width: 100px;
    max-width: 100px;
    height: 100px;
    margin-right: 25px;
}

.displayPostLeft img {
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}

.displayPostRight {
    width: 87%;
    display: flex;
    flex-direction: column;
}

.displayPostInfo {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Lato';
    font-size: 24px;
}

.displayPostInfoLeft {
    display: flex;
    flex-direction: column;
}

.displayPostName:hover {
    text-decoration: underline;
}

.displayPostUsername {
    color: rgb(185, 185, 185);
}

.deleteDisplay {
    font-size: 18px;
    width: fit-content;
    color: Red;
    display: flex;
    text-align: right;
    transition: 0.3s ease;
    border-radius: 15px;
    padding: 5px 10px;
    font-family: 'Fira Sans', sans-serif;
}

.deleteDisplay:hover {
    background-color: rgba(255, 0, 0, 0.308);
}

.displayPostPost {
    display: flex;
    flex-direction: column;
}

.displayPostBody {
    word-wrap: break-word;
    display: inline-block;
    font-size: 22px;
    font-family: 'Fira Sans', sans-serif;
}

@media only screen and (max-width: 1545px) {
    .displayPostContainer {
        padding: 10px;
        width: 90%;
    }
}

@media only screen and (max-width: 1000px) {
    .displayPostContainer {
        width: 80%;
    }
}

@media only screen and (max-width: 540px) {
    .displayPost header {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .displayPostLeft {
        min-width: 75px;
        max-width: 75px;
        height: 75px;
    }

    .displayPostBody {
        margin-left: -70px;
    }
}