.navContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #293e55;
    border-right: 1px solid lightgrey;
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 3;
}

.navContainer img {
    width: 100%;
}

.butterfly {
    display: none;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 32px;
    font-family: 'Lato', sans-serif;
    height: 70vh;
}

nav a:not(.active) {
    border-bottom: 1px solid #293e55;
    padding: 10px 0;
    transition: 0.3s ease;
}

nav a:not(.active):hover {
    border-bottom: 4px solid #ffffff;
    padding-bottom: 7px;
    color: #007bff;
}

nav a.active {
    color: #ff175d;
}

.searchLink {
    display: none;
}

@media only screen and (max-width: 950px) {
    .navContainer {
        width: 30%;
    }
    
    .searchLink {
        display: inline;
    }
}

@media only screen and (max-width: 700px) {
    .navContainer {
        width: 20%;
    }
    
    nav {
        font-size: 24px;
    }
}

@media only screen and (max-width: 540px) {
    .navContainer {
        width: 100%;
        flex-direction: row;
        height: fit-content;
        padding: 20px 0;
    }

    .navContainer header {
        width: 50%;
    }

    .full {
        margin-top: -20px;
    }

    nav {
        flex-direction: row;
        height: fit-content;
        align-self: center;
    }
}

@media only screen and (max-width: 450px) {
    .navContainer {
        position: sticky;
        bottom: 0;
        opacity: 100%;
    }

    .navContainer header {
        width: 30%;
    }

    .full {
        display: none;
    }

    .butterfly {
        display: inline;
    }
}

@media only screen and (max-width: 350px) {
    .navContainer {
        padding: 10px;
    }

    nav {
        font-size: 18px;
    }
}