.newsCardContainer {
    width: 90%;
    margin-top: 15px;
    padding: 10px 10px;
    font-family: 'Lato';
    line-height: 1.5;
    /* border: 3px solid #007bff; */
}

.newsCardContainer:hover {
    background-color: #213041;
}

.newsCardContainer a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.newsCardContainer a:hover {
    text-decoration: underline;
}

.newsCardContainer a:hover img {
    border: 2px solid #ff175d;
}

.newsCardContainer img {
    margin-top: 10px;
    max-width: 100%;
    border: 2px solid #B93A60;
    transition: 0.3s ease;
}

@media only screen and (max-width: 1100px) {
    .newsCardContainer {
        font-size: 14px;
    }

    .newsCardContainer img {
        width: 25%;
    }
}