.postContainer {
    border: 1px solid white;
    margin: 25px;
    padding: 25px;
}

.postContainer:hover {
    background-color: #1E131C;
    cursor: pointer;
}

.postInfo {
    margin-bottom: 5px;
}