.postLink {
    text-decoration: none;
}

.postContainer {
    margin: 25px;
    padding: 25px;
    width: 90%;
    display: flex;
    flex-direction: row;
    background-color: #213041;
    transition: 0.3s ease;
}

.postContainer:hover {
    background-color: #1d2b3a;
    cursor: pointer;
}

.postLeft {
    min-width: 11%;
    max-width: 11%;
    margin-right: 15px;

}

.postLeft img {
    width: 100%;
    border-radius: 100px;
}

.postRight {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.postInfo {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postInfoLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.postFullName {
    text-decoration: none;
}

.postFullName:hover {
    text-decoration: underline;
}

.postUsername {
    margin-left: 10px;
    color: rgb(185, 185, 185);
}

.deletePost {
    font-size: 16px;
    width: fit-content;
    color: Red;
    display: flex;
    text-align: right;
    transition: 0.3s ease;
    border-radius: 15px;
    padding: 5px 10px;
    font-family: 'Fira Sans', sans-serif;
}

.deletePost:hover {
    background-color: rgba(255, 0, 0, 0.308);
}

.post {
    display: flex;
    flex-direction: column;
}

.postBody {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
}
