.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileContainer header {
    width: 100%;
    font-family: 'Lato';
    font-size: 24px;
    padding: 25px;
    border-bottom: 1px solid white;
    box-sizing: border-box;
}

.profileUserInfo {
    width: 100%;
    font-family: 'Lato';
    padding: 25px 0 25px 10px; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.profileInfoLeft {
    width: 70%;
    display: flex;
    flex-direction: row;
}

.profileInfoLeft img {
    min-width: 125px;
    max-width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 100px;
    margin-right: 25px;
}

.profileInfoLeft div {
    display: flex;
    flex-direction: column;
}

.profileFullName {
    font-size: 32px;
}

.profileUsername {
    font-size: 20px;
    color: rgb(185, 185, 185);
}

.profileUserInfo button {
    height: fit-content;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #fc5185;
    font-family: 'Lato';
}

.profileUserInfo button:hover {
    cursor: pointer;
    background-color: #DF4976;
}

.profileInfoLeft label {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.profileInfoLeft input[type="text"] {
    margin-top: 3px;
    width: 90%;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 18px;
    background-color: #213041;
    border: 3px solid #b93a60;
    transition: 0.3s ease;
    color: white;
}

.profileInfoLeft input[type="text"]:focus {
    outline: none;
    border: 3px solid #ff175d;
}

.profileContainer section {
    width: 100%;
    padding: 25px 0;
    font-family: 'Lato';
    font-size: 20px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    box-sizing: border-box;
    padding-left: 15px;
    color: #007bff;
}

.profilePostContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.profilePostContainer .error {
    font-size: 18px;
    font-family: 'Lato';
    padding: 35px;
}

@media only screen and (max-width: 540px) {
    .profileContainer header {
        display: none;
    }
}