@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Lato:wght@700&display=swap');

body {
    background-color: #243547;
    color: white;
}

.App {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.appCenter {
    width: 50%;
    padding: 5px;
    position: relative;
    z-index: 1;
}

h1 {
    font-family: 'Lato';
}

a {
    color: white;
    text-decoration: none;
}

.error {
    color: red;
    font-family: 'Fira Sans';
}

form label {
    font-size: 18px;
    font-family: 'Lato';
    margin-bottom: 5px;
}