.logInForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 50px;
}

.logInHeading {
    font-size: 32px;
    margin-bottom: 35px;
}

.logInForm div.error {
    margin-bottom: 15px;
    font-size: 18px;
}

.logInForm input{
    align-self: center;
}

.logInForm input:not([type="submit"]) {
    margin-bottom: 20px;
    padding: 10px 15px;
    font-size: 18px;
    width: 100%;
    background-color: #213041;
    border: 3px solid #b93a60;
    transition: 0.3s ease;
    color: white;
}

.logInForm input:not([type="submit"]):focus {
    outline: none;
    border: 3px solid #ff175d;
}

.logInForm input.error {
    border: 3px solid red;
}

.logInForm input[type="submit"] {
    padding: 15px 25px;
    font-size: 20px;
    width: 100%;
    border-radius: 25px;
    margin-top: 10px;
    background-color: #fc5185;
    font-family: 'Lato';
}