.signUpForm {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.signUpHeading {
    font-size: 32px;
    margin-bottom: 35px;
}

.signUpForm div.error {
    margin-bottom: 15px;
    font-size: 18px;
}

.signUpForm input{
    align-self: center;
}

.signUpForm input:not([type="submit"]):not([type="file"]) {
    margin-bottom: 20px;
    padding: 10px 15px;
    font-size: 18px;
    width: 100%;
    background-color: #213041;
    border: 3px solid #b93a60;
    transition: 0.3s ease;
    color: white;
}

.signUpForm input:not([type="submit"]):focus {
    outline: none;
    border: 3px solid #ff175d;
}

.signUpForm input.error {
    border: 3px solid red;
}

.signUpForm input[type="submit"] {
    padding: 15px 25px;
    font-size: 20px;
    width: 100%;
    border-radius: 25px;
    margin-top: 10px;
    background-color: #fc5185;
    font-family: 'Lato';
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #df4976;
}